.headnav {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.nav_logo {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    /* height: 24px;
    width: 80px; */
    padding: 20px;
}

.the_logo {
    color: red;
}

.nav_moodtube {
    padding-top: 7px;
}

.search_bar {
    margin-right: 0px;
    border-radius: 4px;
}

.search_icon {
    background-color: aliceblue;
    height: 44px;
    width: 65px;
    border-radius: 4px;
}

.drop_button {
    height: 40px;
    width: 42px;
    /* color: white; */
    border-color: white;
    background-color: red;
    border-radius: 50%;
    
    &:focus{
        outline: none;
    }
}

.nav_user_icon {
    color: white;
} 

.nav_login {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 5px;
    width: 105px;
    height: 40px;
    border: 1px solid rgb(6, 95, 212);
    border-radius: 2px;
    outline:none;
    background: white;
    font-size: 14px;
    color: rgb(39, 97, 204);
}

.nav_signin_icon {
    margin-top: 2px;
}

.nav_login_text {
    font-style: normal;
}

.nav_right_parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 14px;
}