.headnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 56px;
    padding: 10px;
    box-sizing: border-box;
}

.nav_topleft {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_topleft_icon {
    color: rgb(77, 77, 77);
}

.nav_logo {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    color: black;
    /* height: 24px;
    width: 80px; */
    padding: 20px;
}

.the_logo {
    color: red;
}

.nav_moodtube {
    font-size: 20px;
    letter-spacing: -.5px;
}

.search_bar {
    margin: 0px;
    border-radius: 4px;
}

.search_icon {
    background-color: rgb(235, 232, 232);
    height: 44px;
    width: 65px;
    border-radius: 4px;
}

.nav_icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

.nav_upload {
    color: rgb(96, 96, 96);

    &:hover {
        opacity: 0.4;
    }
}

.drop_button {
    height: 40px;
    width: 42px;
    /* color: white; */
    border-color: white;
    background-color: red;
    border-radius: 50%;
    &:focus{
        outline: none;
    }
    padding: 5px;
}

.nav_user_icon {
    color: white;
} 

.nav_login {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 5px;
    width: 105px;
    height: 40px;
    border: 1px solid rgb(6, 95, 212);
    border-radius: 2px;
    outline:none;
    background: white;
    font-size: 14px;
    color: rgb(39, 97, 204);
}

.nav_signin_icon {
    margin-top: 2px;
}

.nav_login_text {
    font-style: normal;
}

// .nav_right_parent {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: center;
//     margin-right: 14px;
// }

.nav_dropdown_top {
    display: flex;
    align-items: center;
}

.nav_dropdown_top_user {
    color: red;
}

.nav_dropdown_div {
    position: absolute;
    right: 50px;
    background: white;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
    padding: 5px;
    width: 300px;
}

.dropdown {
    list-style: none;
    padding: 5px;
}