.video_image {
    width: 210px;
    height: 118px;
}

.vid_index_vid {
    margin: 5px;
}

.vid_index_title {
    text-decoration: none;
}

.vid_index_row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.vid_index_botdesc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.vid_index_views {
    margin-top: 5px;
    margin-right: 5px;
}
