.search_wrapper {
  display: flex;
}

.search_header {
    font-size: 14px;
    font-weight: 600;
    color: #545353;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d6d6e0;
}